/* Defaults */

/* Colors

Dark Steel
#181818

not Quite black
#303030

New yellow
#F0C000

para
#F0D800

white
#fff

*/

body,td,input,a {
    line-height: 1.3em;
    font-family: tahoma, sans-serif;
    font-size: 11pt;
    margin: 0;
    color: #181818;
    letter-spacing: 1.2px;
}

input {
    color: #303030;
}

h1,h2,h3,h4,h5,h6 {
    color: #F0C000;
}

a {
    color: #303030;
}

/* Icons */
.icon_search,
.icon_point 
{    
    background-repeat: no-repeat;    
    background-image: url('/Content/img/Icons.png');
    display: inline-block;
    width: 16px;
    height: 16px;
   
}

.icon_search {
     background-position: 0 0;
}

.icon_point {
     background-position: 0 -16px;
}

/* Controls */

div.sit_input_txt {
    border: 1px solid #a4a4a4;
    display: inline-block;
    padding: 3px;
}

div.sit_input_txt input {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*search*/
div#search_results_container 
{
    display: none;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 36px;
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    min-height: 150px;
    background-color: #fff;
}

div#search_results_pointer {
    position: absolute;
    top: -16px;
    left: 80px;
    z-index: 10;
}

div#search {
    width: 350px;
}

div#search_bar {
    margin: 5px;
}